.form {
  display: flex;
  flex-direction: column;
}

.formName,
.formNumber {
  display: flex;
  flex-direction: column;
  margin: 8px auto;
  align-items: center;
  font-size: large;
  text-align: left;
  padding: 8px 240px 8px 16px;
}

.formBtn {
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: rgba(45, 73, 129, 0.8);
  border: none;
  border-radius: 6px;
  color: #fff;
  flex-grow: 1;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: 15px;
  height: 36px;
  line-height: 20px;
  margin-left: 8px;
  margin-right: 6px;
  min-width: 185px;
  padding: 0 16px 0 16px;
  color: white;
  cursor: pointer;
}

.formBtn:hover {
  background-color: rgba(45, 73, 129);
  cursor: pointer;
}
