.contactListItemBtn {
  margin-top: 16px;
  margin-bottom: 8px;
  align-items: right;
  background-color: rgba(45, 73, 129, 0.8);
  border: none;
  border-radius: 6px;
  color: #fff;
  flex-grow: 1;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: 15px;
  height: 36px;
  line-height: 20px;
  margin-left: 8px;
  margin-right: 6px;
  min-width: 50px;
  padding: 0 16px 0 16px;
  cursor: pointer;
}

.contactListItemBtn:hover {
  background-color: rgba(45, 73, 129);
  cursor: pointer;
}
